html 
{
background-color:yellow;	
	
	
	
}


#left
	{
	width: 47%;
	height: 100%;
	float: left;
	text-align: center;
	border-style: double;
	border-color: red;
	color:white;
	background-color: lightgreen;
	padding:10px;
	font-size: 15px;
	margin-right:20px;
	border-radius: 500px;
	}
	
	#right
	{
	
	width: 47%;
	height: 100%;
	float: left;
	text-align: center;
	border-style: double;
	border-color: red;
	color:white;
	background-color: lightgreen;
	padding:10px;
	font-size: 15px;
	margin-right:20px;
	border-radius: 500px;
	}
	
	
	
	